<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="container">
<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <h1 class="text-center font-weight-bold pt-5">Edit a question</h1>
<div class="post-container pt-3">
　　　<%= form_for @question do |f| %>
           <p><%= f.label:"タイトル" %> <%= f.text_field :title, class: "col-md-12 form-control" %></p>
           <p><%= f.label:"内容" %> <%= f.text_area :body, class: "col-md-12 form-control" %></p>
   
            <div class= "actions pt-3" > 
              <%= f.submit "編集する", class: "btn btn-primary" %>
           </div>
    <% end %>  
</div>
<div class="col-md-1">

    </div>
  </div>
</div>






