<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="UTF-8">
 <%= stylesheet_link_tag 'show', :media => "all" %>
 <title>HelloUserShow</title>
 </head>

<body>
  

<div class= "box1">
  <div class="text">
     <h5>Name:<%= @user.name %></h5>
    <p><%= @user.profile %></p>
  </div>
  <div class="user-image">
   <%= image_tag @user.image_url, size: "300x240" if @user.image? %>
  </div>
  <div class= link1>
   <% if current_user.id == @user.id %>
    <%= link_to "プロフィールを編集する", edit_user_registration_path %>
   <% end %>
  </div>
</div>


<% @user.chorus.each do |t| %>
  <div class="post">
     <div class="text2">
        <p><%= t.name %></p>
        <p><%= t.address %></p>
        <p><%= t.date %></p>
        <p><%= t.about %></p>
      </div>
    <div class="main">
       <%= image_tag t.image_url, size: "250x354" if t.image? %></div>
      </div>

    <div class="link2">
      <% if current_user.id == @user.id %>
        <%= link_to "投稿を編集する", edit_choru_path(t.id) %>
        <%= link_to "削除する", choru_path(t.id), method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>





<div class= "btn-circle-flat" > 
  <% if current_user.id == @user.id %>
    <%= link_to "新規投稿", :controller => "chorus", :action => "new" %>
  <% end %>
</div>

 </body>
</html>


