<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>投稿編集</title>
</head>
<%= stylesheet_link_tag 'new', :media => "all" %>

<body>
<div class="post-container">
 <%= form_for @choru do |f| %>
  <label class="ef">
     <input type="text" placeholder="コンサート名">
     <input type="text" placeholder="開催場所">
    <input type="text" placeholder="開催日時">
     <input type="text" placeholder="演奏内容">
  </label>
  <div class="field">
     <%= f.label :image %>
     <%= f.file_field :image %>
   </div>
    
</div>

<%= f.submit "編集する" %>

</body>
</html>