<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ようこそ、歌うたいの広場へ</title>
</head>
<%= stylesheet_link_tag 'index', :media => "all" %>

<body>
<div class="container">
  <div class="header"></div>
  <div class="left">
    <%= image_tag 'pexels-thirdman-6193774.jpg', class:'center', size: '320x606' %>
    <p>うたを愛するすべての人へ</p>
  <p>このサイトは全国の合唱人、歌好きのために作りました。いつの時代も歌が、心揺らす音楽が、私たちの味方です</p>
  </div>
  <div class= "center">
    <%= image_tag 'pexels-elina-sazonova-3971983.jpg', class:'center', size: '320x606' %>
    <p>知らなかった団体との出会い</p>
  <p>全国には、多種多様な合唱団があります。あなたの「好き」がきっとたくさん見るかるはず</p>
  </div>
  <div class= "right">
    <%= image_tag 'pexels-cottonbro-7520369.jpg', class: 'right', size: '320x606' %>
    <p>歌を究める</p>
  <p>オンライン練習や発声方法など、世代を超えた合唱人の為の、合唱人によるプラットフォーム</p>
  </div>
</div>





<div class= "btn-flat" > 
  <%= link_to "新規登録",new_user_registration_path %>
</div>

<div class= "btn-flat2" > 
  <%= link_to "ログイン",new_user_session_path %>
</div>

  
 

</body>
</html>

