
<%= stylesheet_link_tag 'show', :media => "all" %>

 <h3>投稿内容</h3>
<div class ="container">
　<div class="post">
    <div class= "text2">
    <p><%= @choru.name %></p>
    <p><%= @choru.address %></p>
    <p><%= @choru.date %></p>
  　<p><%= @choru.about %></p>
  　<p><% @choru.created_at %></p>
  </div>
  <div class= "main">
   <%= image_tag @choru.image_url, size: "250x354" if @choru.image? %>
　</div>
</div>

<div class= "btn-circle-flat">
 <%= link_to "投稿する", :controller => "users", :action => "index" %>
</div>
  
  