<!DOCTYPE html>
<html>
  <head>
    <title>AppChorus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
         <h1><%= link_to"あつまれ合唱人", chorus_path %></h1>
         <div class="header-list">
          <ul>
            <li><%= link_to"団体一覧へ", users_path %></li>
             <li><%= link_to"質問投稿へ", questions_path %><li>
          <% if user_signed_in? %>
                 <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
           <% else %>
               <li><%= link_to "新規登録", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
         </ul>
      </div>
    </header>
   <main>
      <%= yield %>
   </main>
  </body>
</html>
